@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#2c74b3;
  --secondary:#7b217f;
  --button-padding: 5px 10px;
  --button-border-radius: 6px;
  --error:#e94560;
  --input-border-radius: 6px;
  --main-bg:#f1f5f9;
}
